/* Nav Underline */

.nav-link {
  position: relative;
}

.nav-link:hover {
  color: #ffffff;
}
.nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  color: transparent;
  width: 0%;
  content: '.';
  height: 3px;
}
.nav-link:hover::after {
  width: 100%;
}

/* Colors*/



