/* Nav Underline */

.nav-link {
  position: relative;
}

.nav-link:hover {
  color: #ffffff;
}
.nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  color: transparent;
  width: 0%;
  content: '.';
  height: 3px;
}
.nav-link:hover::after {
  width: 100%;
}

/* Colors*/

:root {
  --bs-primary: #003B53;
  --bs-info: #42AEC8;
  --bs-warning: #FFC237;
  --bs-primary-rgb: 0, 59, 83;
  --bs-info-rgb: 66, 174, 200;
  --bs-dark: #000000;
  --bs-dark-rgb: 0, 0, 0;
}

a {
  text-decoration: none;
 }

 a:hover{
  transform: scale(0.90);
 }