/* Nav Underline */


.nav-link:hover {
  color: #ffffff;
}
.nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  color: transparent;
  width: 0%;
  content: '.';
  height: 3px;
}
.nav-link:hover::after {
  width: 100%;
}

/* Colors*/

:root {
  --bs-primary: #003B53;
  --bs-info: #42AEC8;
  --bs-warning: #FFC237;
  --bs-primary-rgb: 0, 59, 83;
  --bs-info-rgb: 66, 174, 200;
  --bs-dark: #000000;
  --bs-dark-rgb: 0, 0, 0;
  --bs-danger:#D5643B;
  --bs-danger-rgb: 213, 100, 59;
}

a {
  text-decoration: none;
 }

 a:hover{
  transform: scale(0.90);
 }

/* About Orange Shape*/
 .banner-about {
  background: var(--bs-dark) url(../images/orangeshape-01.png) no-repeat center;
  background-size: cover;
}

/* Contact Form*/
.contact-clean form {
  max-width: 500px;
  border: 1px solid white;
  width: 90%;
  margin: 0 auto;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
}